.logo{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}
  
body{
    height: 100ev;
    background-color: rgb(231, 189, 222);
}

.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
background-color: aquamarine;
width: 25%;
padding: 10px;
margin: 17px 12px;
border: 2px solid black;
border-radius: 10px;
}

.left{
float: left;
clear: both;
}

.right{
    float: right;
    clear: both;

}



#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 980px;
    width: 100%;
}


#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 30px;
}


.btn{
    cursor: pointer;
     border: 2px solid black;
     border-radius: 6px;
     height: 30px;
}